body {
    font-family: 'Open Sans', sans-serif;
    background-color: #bb1414;
    color: #000000;
    height: 100%;
    font-size: 16px;
    display: flex;
    flex-direction: column;
}

.section-container {
    min-width: 100%;
    min-height: 100%;
}


/*navigation bar (menu) */

.section-navbar {
    top: 0;
    width: 100%;
    height: 9.375em;
}

.logo {
    height: 9.375em;
    width: 21.875em;
    position: absolute;
    display: inline-block;
    padding: 0em;
    margin: 1.125rem;
}

img {
    display: inline-block;
}

.topnav {
    background-color: white;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    height: 9.375em;
    border-bottom: solid 4px #000000
}

ul {
    list-style-type: none;
    display: inline-block;
}

.topnav a {
    float: left;
    color: #000000;
    text-align: right;
    padding: 0 0.7em;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.375em;
}

.menu-bar-right {
    float: right;
}

#boeking {
    border: 2px solid #bb1414;
    border-radius: 5px;
}

.topnav li {
    display: inline-block;
    list-style: outside none none;
    margin: 2.5em 0.625em;
    margin-top: 5.0em;
    padding: 0;
}

.topnav a {
    position: relative;
    display: inline-block;
}

.topnav a:before {
    position: absolute;
    content: '';
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    opacity: 0;
    left: 15%;
    right: 15%;
    top: 0%;
    bottom: 0%;
    border-left: 0.188em solid #bb1414;
    border-right: 0.188em solid #bb1414;
}

.topnav a:hover {
    color: #bb1414;
}

.topnav a:hover:before,
.topnav .current a:before {
    opacity: 1;
    left: 0;
    right: 0;
}

.topnav li a:hover::after {
    position: absolute;
    margin: 2.5em 0.625em;
    margin-top: 5.0em;
    padding: 0;
}


/* photo's slider*/

.section-foto {
    display: block, relative;
    width: auto;
    height: auto;
}

.main-foto {
    width: auto;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12.5rem;
}


/*banner "volg ons"*/

.banner {
    width: auto;
    height: 6.25rem;
    background-color: white;
    border-top: 0.438em #000000 solid;
    border-bottom: 0.438em #000000 solid;
    margin-bottom: 3.125rem;
}

.follow-us {
    width: auto;
    height: 6.25rem;
}

h3 {
    margin-top: 0.250em;
    font-size: 2.1875rem;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
}

.socialmedia-buttons img {
    width: 4.5rem;
    height: 4.5rem;
    padding: 0.250em;
    display: inline-block;
}


/*admin panel - main*/

.section-panel {
    width: 100%;
    height: 100%;
}

.admin-panel {
    background-color: white;
    width: 50rem;
    margin: 3.125rem auto;
    padding: 3.4375rem 0 0;
    -webkit-box-shadow: 0 0 0.125em #000000;
    -moz-box-shadow: 0 0 0.125em #000000;
    text-align: center;
}

h1 {
    color: #000000;
    font-size: 1.438em;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1.250em;
}

.login-field {
    display: grid;
    border: 0.125em solid #000000;
    margin: 3.125rem;
    justify-items: center;
}

label {
    display: block;
    text-align: center;
    width: 9.375rem;
    padding: 1.250em;
    padding-bottom: 0.313em;
    color: #000000;
    font-size: 1rem;
}

input {
    margin: 0.625em;
    padding: 0.313em;
    border: 0.125em solid #000000;
    border-radius: 0.188em;
    background: #f1eded;
}

#login-button {
    width: 6.875rem;
    padding: 0.625em 1.250em;
    border: 0.125em solid #bb1414;
    border-radius: 0.188em;
    color: white;
    background: #bb1414;
    text-transform: uppercase;
    position: relative;
}


/*admin panel - welkom */

.admin-panel p {
    font-size: 1.5625rem;
    text-align: center;
    font-weight: 500;
}

.admin-panel-menu ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #f8c10e;
    border: 0.090em solid #000000;
    position: relative;
    margin-bottom: 2em;
}

.admin-panel-menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1.250em;
    text-decoration: none;
    border: 0.090em solid #000000;
}

.admin-panel-menu li {
    float: left;
}

.admin-panel-menu li a:hover {
    background-color: #111111;
}


/*admin panel - "over ons"*/

.admin-panel-choicemenu {
    background-color: white;
    width: 70rem;
    margin: 0.7rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.admin-panel-choicemenu ul {
    overflow: hidden;
    margin: 0 10rem auto 13rem;
    display: inline-block;
}

.menu-up {
    margin-top: 3em;
}

.form-group {
    width: 50%;
    height: 20rem;
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    position: inline-block;
}

.form-group label {
    font-size: 1.2em;
    margin: auto;
}

textarea {
    overflow: auto;
}

.red-border textarea {
    border: 0.1rem solid #000000;
}

.red-border .form-control:focus {
    border: 0.063em solid #f8c10e;
    box-shadow: 0 0 0 0.125em rgba(255, 212, 22, 0.815);
}

.btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}

#button-left {
    float: left;
    margin-bottom: 2em;
}

#button-right {
    float: right;
    margin-bottom: 2em;
}


/*admin-panel "nieuws"*/

.container-center-form {
    display: flex;
    flex-direction: row;
    margin-bottom: 5em;
}

#titel-form {
    resize: none;
    margin-bottom: 1em;
}

#form-left {
    display: inline-block;
    margin: auto;
}

.nieuws-table {
    display: inline-block;
    margin: auto;
}


/*admin-panel "agenda"*/

.container-agenda {
    margin: auto;
    border: 0.125em solid #000000;
    border-radius: 0.5em;
}

.container-center-agenda {}

.container-agenda label {
    display: inline-block;
}

.admin-panel-choicemenu h2 {
    text-align: center;
    margin: 1em 0.5em;
}


/*footer*/

.section-footer {
    background-color: white;
    width: 100%;
    height: 9.375rem;
    border-top: solid 0.250em #000000;
    position: relative;
    bottom: 0;
}

.footer-container {
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    justify-content: space-between;
    height: 9.375rem;
    width: 100%;
}

.section-footer h2 {
    font-size: 1.125em;
    font-weight: 600;
    text-transform: uppercase;
    text-align: left;
    margin-top: 0.75rem;
}

.section-footer p {
    font-size: 0.875em;
    font-weight: 400px;
    text-align: left;
}

.footer-divider {
    display: flex;
    flex-direction: column;
}

.footer-terms-and-conditions {
    margin-bottom: 1.875rem;
}

.footer-admin-panel {}

#panel-button {
    width: fit-content;
    border: 0.125em solid #bb1414;
    padding-left: 0.625em;
    padding-right: 0.625em;
    border-radius: 0.188em;
    text-align: center;
}