body {
    font-family: 'Open Sans', sans-serif;
    margin-top: 200px;
    background-color: #bb1414;
    color: #000000;
    height: 100%;
}

.section-container {
    min-width: 100%;
    min-height: 100%;
}


/*navigation bar (menu) */

.section-navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 150px;
}

.logo {
    height: 150px;
    width: 350px;
    position: absolute;
    display: inline-block;
    padding: 0px;
    margin: 18px;
}

img {
    display: inline-block;
}

.topnav {
    background-color: white;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    height: 150px;
    border-bottom: solid 4px #000000
}

ul {
    list-style-type: none;
    display: inline-block;
}

.topnav a {
    float: left;
    color: #000000;
    text-align: right;
    padding: 0 0.7em;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
}

.menu-bar-right {
    float: right;
}

#boeking {
    border: 2px solid #bb1414;
    border-radius: 5px;
}

.topnav li {
    display: inline-block;
    list-style: outside none none;
    margin: 40px 10px;
    margin-top: 80px;
    padding: 0;
}

.topnav a {
    position: relative;
    display: inline-block;
}

.topnav a:before {
    position: absolute;
    content: '';
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    opacity: 0;
    left: 15%;
    right: 15%;
    top: 0%;
    bottom: 0%;
    border-left: 3px solid #bb1414;
    border-right: 3px solid #bb1414;
}

.topnav a:hover {
    color: #bb1414;
}

.topnav a:hover:before,
.topnav .current a:before {
    opacity: 1;
    left: 0;
    right: 0;
}

.topnav li a:hover::after {
    position: absolute;
    margin: 40px 10px;
    margin-top: 80px;
    padding: 0;
}


/* end navigationbar (menu) */


/* photo's slider*/

.section-foto {
    display: block, relative;
    width: auto;
    height: auto;
}

.main-foto {
    width: auto;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px;
}


/*banner "volg ons"*/

.banner {
    width: auto;
    height: 100px;
    background-color: #f8c10e;
    border-top: 7px #000000 solid;
    border-bottom: 7px #000000 solid;
    margin-bottom: 50px;
}

h3 {
    font-size: 35px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
}

.socialmedia-buttons img {
    width: 70px;
    height: 70px;
    padding: 10px;
    display: inline-block;
}


/*admin panel*/

.section-panel {
    width: 100%;
    height: 100%;
}

.admin-panel {
    background-color: white;
    width: 800px;
    height: 500px;
    margin: 50px auto;
    padding: 55px 0 0;
    -webkit-box-shadow: 0 0 2px #000000;
    -moz-box-shadow: 0 0 2px #000000;
    text-align: center;
}

h1 {
    color: #000000;
    font-size: 23px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

.login-field {
    display: grid;
    border: 2px solid #000000;
    margin: 50px;
    justify-items: center;
}

label {
    display: block;
    text-align: center;
    width: 150px;
    padding: 20px;
    padding-bottom: 5px;
    color: #000000;
    font-size: 16px;
}

input {
    margin: 10px;
    padding: 5px;
    border: 2px solid #000000;
    border-radius: 3px;
    background: #f1eded;
}

#login-button {
    width: 110px;
    padding: 10px 20px;
    border: 2px solid #bb1414;
    border-radius: 3px;
    color: white;
    background: #bb1414;
    text-transform: uppercase;
    position: relative;
}

.admin-panel p {
    font-size: 25px;
    text-align: center;
    font-weight: 500;
}

.admin-panel-menu ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: #f8c10e;
    border: 2px solid #000000;
    margin: 100px auto;
}

.admin-panel-menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    border: 2px solid #000000;
}

.admin-panel-menu li {
    float: left;
}

.admin-panel-menu li a:hover {
    background-color: #111111;
}


/*footer*/

.section-footer {
    background-color: white;
    width: 100%;
    height: 150px;
    border-top: solid 4px #000000;
    position: relative;
    bottom: 0;
}

.footer-container {
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    justify-content: space-between;
    height: 150px;
    width: 100%;
}

h2 {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: left;
}

p {
    font-size: 14px;
    font-weight: 400px;
    text-align: left;
}

.footer-info {}

.footer-post {}

.footer-divider {
    display: flex;
    flex-direction: column;
}

.footer-terms-and-conditions {
    margin-bottom: 30px;
}

.footer-admin-panel {}

#panel-button {
    width: fit-content;
    border: 2px solid #bb1414;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px;
    text-align: center;
}